*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #BBCDE5;
    padding: .9375rem;
}



.header img{
    margin-top: .625rem;
    margin-left: .625rem;
    margin-right: 3.125rem;
}

.header h1{
    font-size: 1.875rem;
}

.btn{
    margin-top: .625rem;
    margin-left: .3125rem;
}

.btnIndex{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.badge {
    padding: 0.5em 0.8em;
    font-size: 0.85rem;
    border-radius: 20px;
}

body {
    overflow-x: hidden;
    background-color: #F4F4F9;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.5s ease;
}

.card:hover {
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
}

